.Snow_translatedSequence table {
    border-collapse: separate !important;
    border-spacing: 1px;
}

.Snow_translatedSequence td.Snow_aminoAcid {
    text-align: center;
    z-index: 2000;
    position: relative;

    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-shadow: white 1px 1px 6px;
    padding: 3ch;
    margin: 2px;
    border-radius: 50%;
    background: #89c3fde6;
    transition: all 0.2s ease-in-out;
}

.Snow_translatedSequence .Snow_aminoAcid:hover {
    transform: rotate(360deg);
    box-shadow: #2d3436 2px 3px 8px;
}

.Snow_translatedSequence td.Snow_aminoAcid_stop {
    background-color: #ff93bae6;
}

.Snow_translatedSequence td.Snow_aminoAcid_start {
    background-color: #7df6d5e6;
}

.Snow_translatedSequence td.Snow_aminoAcid_mark_left_top::after {
    content: "";
    position: absolute;
    left: 1.4em;
    top: 1.8em;
    border-right: 0.6em solid transparent;
    border-top: 1.2em solid #d63031;
}

.Snow_translatedSequence td.Snow_aminoAcid_mark_left_bottom::after {
    content: "";
    position: absolute;
    left: 1.4em;
    top: 2em;
    border-left: 0.6em solid #d63031;
    border-top: 1.2em solid transparent;
}

.Snow_translatedSequence td.Snow_aminoAcid_mark_right_top::after {
    content: "";
    position: absolute;
    left: calc(100% - 2em);
    top: 2em;
    border-left: 0.6em solid transparent;
    border-top: 1.2em solid #d63031;
}

.Snow_translatedSequence td.Snow_aminoAcid_mark_right_bottom::after {
    content: "";
    position: absolute;
    left: calc(100% - 2em);
    top: 2.2em;
    border-right: 0.6em solid #d63031;
    border-top: 1.2em solid transparent;
}

/*.Snow_translatedSequence td.base {*/
    /*text-align: center;*/
    /*z-index: 2000;*/
/*}*/

/*.translatedSequence.big, .translatedSequence.big td.aminoAcid {*/
/*border-right: 1px solid #777;*/
/*}*/

/*.translatedSequence.frame2 td.aminoAcid {*/
/*border-right-color: #979797;*/
/*}*/
/*.translatedSequence.frame1 td.aminoAcid {*/
/*border-right-color: #6d6d6d;*/
/*}*/
/*.translatedSequence.frame0 td.aminoAcid {*/
/*border-right-color: #5f5f5f;*/
/*}*/
