.Snow_translatedSequence {
    position: relative;
    border-width: 0;
    border-collapse: collapse;
    overflow: visible;
}

.Snow_translatedSequence table {
    border-collapse: separate !important;
    border-spacing: 1px;
    z-index: 10;
}

.Snow_translatedSequence.frame0 {
    background-color: #929292;
}

.Snow_translatedSequence.frame1 {
    background-color: #B0B0B0;
}

.Snow_translatedSequence.frame2 {
    background-color: #E0E0E0;
}

.Snow_translatedSequence td.Snow_aminoAcid {
    text-align: center;
    z-index: 2000;
    position: relative;

    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-shadow: white 1px 1px 6px;
    /*padding: 3ch;*/
    background: #89c3fde6;
    transition: all 0.2s ease-in-out;
}

.Snow_translatedSequence td.Snow_aminoAcid_circle {
    border-radius: 50%;
}

/*.Snow_translatedSequence td.Snow_aminoAcid:hover {*/
    /*box-shadow: #2d3436 2px 3px 8px;*/
/*}*/

.Snow_translatedSequence td.Snow_aminoAcid_animation:hover,td.Snow_aminoAcid_animation.hoverState {
    box-shadow: #2d3436 2px 3px 8px;
    transform: rotate(360deg);
}

.Snow_translatedSequence td.Snow_aminoAcid_stop {
    background-color: #ff93bae6;
}

.Snow_translatedSequence td.Snow_aminoAcid_start {
    background-color: #7df6d5e6;
}

.Snow_translatedSequence td.Snow_aminoAcid_Hydrophile {
    background-color: #81ecece6;
}

.Snow_translatedSequence td.Snow_aminoAcid_Hydrophobe {
    background-color: #a29bfee6;
}

.Snow_translatedSequence td.Snow_aminoAcid_Acidity {
    background-color: #ff7675e6;
}

.Snow_translatedSequence td.Snow_aminoAcid_Alkaline {
    background-color: #ffeaa7e6;
}

.Snow_translatedSequence td.Snow_aminoAcid_Unknown {
    background-color: #b2bec3e6;
}

.Snow_translatedSequence td.Snow_aminoAcid_mark_left_bottom::after {
    content: "";
    position: absolute;
    left: -1%;
    top: 0;
    border-left: 0.12em solid #d63031;
    border-bottom: 0.2em solid #d63031;
    width: 18%;
    height: 98%;
}

.Snow_translatedSequence td.Snow_aminoAcid_mark_right_top::after {
    content: "";
    position: absolute;
    left: 82%;
    top: 0;
    border-right: 0.12em solid #d63031;
    border-top: 0.18em solid #d63031;
    width: 18%;
    height: 98%;
}

.Snow_translatedSequence td.Snow_annotation_mark::before {
    content: "";
    position: absolute;
    left: 47%;
    top: 20%;
    border: 0.15em solid #d63031;
    width: 0;
    height: 0;
}

.Snow_translatedSequence td span.Snow_aminoAcid_head_strand_scanId_label {
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 4px;
    position: absolute;
    width: 80px;
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
    font-family: monospace;
    font-weight: normal;
    font-size: x-small;
}

.Snow_translatedSequence td span.Snow_aminoAcid_head_strand_scanId_label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.Snow_translatedSequence td span.Snow_aminoAcid_tail_strand_scanId_label {
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 4px;
    position: absolute;
    width: 70px;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    font-family: monospace;
    font-weight: normal;
    font-size: x-small;
}

.Snow_translatedSequence td span.Snow_aminoAcid_tail_strand_scanId_label::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.Snow_translatedSequence div.Snow_aminoAcid_modification_label {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    /*width: 25px;*/
    /*height: 25px;*/
    /*transform: translate(-12.5px, 12.5px);*/
    /*word-break: break-all;*/
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-weight: normal;
    font-size: xx-small;
    z-index: 2500;
    box-shadow: #2d3436 2px 3px 8px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.Snow_translatedSequence td span.Snow_aminoAcid_head_strand_bIon_label {
    color: #d63031;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 2%;
    font-family: monospace;
    font-weight: normal;
    font-size: x-small;
    line-height: normal;
}

.Snow_translatedSequence td span.Snow_aminoAcid_head_strand_yIon_label {
    color: #d63031;
    text-align: center;
    position: absolute;
    top: 0;
    left: 2%;
    font-family: monospace;
    font-weight: normal;
    font-size: x-small;
    line-height: normal;
}

span.locate-button {
    line-height: 18px;
}

/*.Snow_translatedSequence td.Snow_aminoAcid_mark_left_top::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 1.4em;*/
    /*top: 1.8em;*/
    /*border-right: 0.6em solid transparent;*/
    /*border-top: 1.2em solid #d63031;*/
/*}*/
/*.Snow_translatedSequence td.Snow_aminoAcid_mark_left_bottom::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: -0.12em;*/
    /*top: 0;*/
    /*border-left: 0.12em solid #d63031;*/
    /*border-bottom: 0.2em solid #d63031;*/
    /*width: 0.5em;*/
    /*height: 5em;*/
/*}*/
/*.Snow_translatedSequence td.Snow_aminoAcid_mark_left_bottom::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 1.4em;*/
    /*top: 2em;*/
    /*border-left: 0.6em solid #d63031;*/
    /*border-top: 1.2em solid transparent;*/
/*}*/
/*.Snow_translatedSequence td.Snow_aminoAcid_mark_right_top::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: calc(100% - 0.52em);*/
    /*top: 0em;*/
    /*border-right: 0.12em solid #d63031;*/
    /*border-top: 0.2em solid #d63031;*/
    /*width: 0.5em;*/
    /*height: 5em;*/
/*}*/
/*.Snow_translatedSequence td.Snow_aminoAcid_mark_right_top::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: calc(100% - 2em);*/
    /*top: 2em;*/
    /*border-left: 0.6em solid transparent;*/
    /*border-top: 1.2em solid #d63031;*/
/*}*/

/*Triangle Mark*/
/*.Snow_translatedSequence td.Snow_aminoAcid_mark_right_bottom::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: calc(100% - 2em);*/
    /*top: 2.2em;*/
    /*border-right: 0.6em solid #d63031;*/
    /*border-top: 1.2em solid transparent;*/
/*}*/
